.start {
    position: relative;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.start h1 {
    font-size: 25px;
    text-decoration: solid underline rgba(0, 255, 0, 0.5);
}

.start button {
    background-color: limegreen;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.44,-0.58, 0.44, 1.73);
    font-size: 25px;
    text-decoration: none;
    margin: 0px 0px 10px 0px;
    padding: 10px 20px 10px 20px;
    border: 2px solid darkgreen;
    border-radius: 15px;
    cursor: pointer;
}
.start button:hover{
    transform: scale(1.5);
    background-color: rgba(0, 255, 0, 0.5);
}