
<!-- <script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
        width: "100%",
        height: "100%",
        channel: "greeny385",
        parent: ["greenygames.de"]
    });
</script> -->

<div id="view-container">
    <div id='twitch-embed'></div>
    <div id="btn-hg">
        <div id="btn-header">
            <p>FUNKTIONEN</p>
        </div>
        <div id="button-grid">
            <button onclick="btnfunc(1)">
                <p>SAUFEEEEN!!</p>
            </button>
            <button onclick="btnfunc(2)">
                <p>STRECKEEN!!</p>
            </button>
            <button>
                <p>Function3</p>
            </button>
            <button>
                <p>Function4</p>
            </button>
            <button>
                <p>Function5</p>
            </button>
            <button>
                <p>Function6</p>
            </button>
            <button>
                <p>Function7</p>
            </button>
            <button>
                <p>Function8</p>
            </button>
            <button>
                <p>Function9</p>
            </button>
            <button>
                <p>Function10</p>
            </button>
            <button>
                <p>Function11</p>
            </button>
            <button>
                <p>Function12</p>
            </button>
            <button>
                <p>Function13</p>
            </button>
            <button>
                <p>Function14</p>
            </button>
            <button>
                <p>Function15</p>
            </button>
            <button>
                <p>Function16</p>
            </button>
            <button>
                <p>Function17</p>
            </button>
            <button>
                <p>Function18</p>
            </button>
            <button>
                <p>Function19</p>
            </button>
            <button>
                <p>Function20</p>
            </button>
            <button>
                <p>Function21</p>
            </button>
        </div>
        <div id="btn-footer">
            <p>FUNKTIONEN</p>
        </div>
    </div>
</div>
